<br>
<br>
<h1>CONTACT US</h1>
<hr class="h">
<br><div class="container">
    <div class="left">
        <a style="font-weight:bold;color: black;" href="https://www.google.com/search?q=sukruthi+infotech+address&stick=H4sIAAAAAAAAAOPgE-LVT9c3NEw2LC9IsihO0pLNTrbSz8lPTizJzM-DM6wSU1KKUouLF7FKFpdmF5WWZGQqZOal5ZekJmcoQOUAEzg_7EwAAAA&ludocid=13394121208174907471&sa=X&ved=2ahUKEwjX94yRoKDrAhVa93MBHc60CTEQ6BMwBHoECAUQIw">
            Address  </a>:
    <pre>        Mudra Arcade, M.I,G-27 Nrupathunga Rd, M Block,
        Kuvempunagar ,
        Mysuru,
        Karnataka 570023
        Ph: 7349793816
        Email: <a style="color:black"href = "mailto: sales@sukruthiinnovations.com">sales&commat;sukruthiinnovations.com</a>
        </pre>
    </div>
    <div class="right">
        <b>Sukruthi Location</b>
    
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7796.919951578275!2d76.626892!3d12.28478!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3baf65e28ef5bb47%3A0x9fd0432d3edbe3cf!2sShree%20Mylara%20Arcade!5e0!3m2!1sen!2sus!4v1705119807475!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    
    </div>
</div>
<br>
<br>