
<nav>
  <a class="left" routerLink="/home"  routerLinkActive="activebutton" ariaCurrentWhenActive="page"><img  src="/assets/img.png"/></a>

  <a class="button" routerLink="/contact"  routerLinkActive="activebutton" ariaCurrentWhenActive="page">Contact Us</a> 
  <a class="button" routerLink="/products"  routerLinkActive="activebutton" ariaCurrentWhenActive="page">Products</a> 
  <a class="button" routerLink="/cr"  routerLinkActive="activebutton" ariaCurrentWhenActive="page">Corporate Radar</a> 
  <a class="button" routerLink="/cv"  routerLinkActive="activebutton" ariaCurrentWhenActive="page">Corporate Vision</a>
  <a class="button" routerLink="/home"  routerLinkActive="activebutton" ariaCurrentWhenActive="page">Home</a> 
</nav>
<router-outlet></router-outlet>
<hr class="f">

<footer>
    <a class="copy">&#169; Copyright Sukruthi Innovations</a>
</footer>
<br>
