<br>
<br>
<h1>OUR PRODUCTS</h1>
<hr class="h">

<div class="container">
    <div class="left">
        <h3>VIDYA KALPAVRUKSHA ERP FEATURES</h3>
        <ul style="list-style-type:square">
            <li>MANAGE CLASSROOMS</li>
            <li>MANAGE STUDENTS</li>
            <li>FACULTY MANAGEMENT</li>
            <li>EXAM SCHEDULER</li>
            <li>STUDENT PROGRESS REPORT</li>
            <li>FEES MANAGEMENT And Much More......</li>
        </ul>
        
    </div>
    <div class="right">
        <h3>SWAVIDYA E- LEARNING</h3>
        <ul style="list-style-type:square">
            <li>APP BASED CLASSROOM</li>
            <li>LIVE CLASS WITH ARCHIVAL</li>
            <li>HIGHLY SECURE</li>
            <li>BUILTIN YOUTUBE PLAYER</li>
            <li>KEYWORD SEARCH And Much More.....</li>
           
        </ul>
        
    </div>
    

</div>
<br>
<div class="btn">
<button style="margin-right: 90px;margin-left: 0px;"class="download" onclick="">VidyaKalpavruksha Brochure download </button>
<button style="margin-right: 16px"class="download">Swavidya e-learning platform Brochure download </button>
</div>
<br>
<br>