<br>
<br>
<h1>CORPORATE RADAR</h1>
<hr class="h">

<div class="container">
    <div class="left">
        <h3>
            MISSION
        </h3>
        <ol type="1">
            <li><p>To be a global leader in education and research,promoting technical skill, critical thinking,Public duty,to help develop a prosperous and progressive community.</p></li>
            <li><p>Dream, Believe, achieve.
            To prepare the new generation so that they are motivated to be lifelong learners and global citizens.</p></li>
            <li><p>We are committed to provide a positive, safe and stimulating experience so that they should enjoy their learning, achieve their potential and become a very responsible and productive citizens.</p></li>
            <li><p>Our mission is to equip the new generation with skill set, knowledge and educational materials with the mind-set to thrive and then take on the world.</p></li>
            <li><p>Our mission is to create a platform to youth by providing latest and high quality educational materials in a safe, inclusive environment, enjoyable and long-lasting educare that builds a strong foundation for their bright future.</p></li>
            <li><p>To work dedicatedly towards building an innovative and quality conscious global organisation encompassing the interests of the new generation.</p></li>

        </ol>
    </div>
    <div class="right">
        <h3>
            VALUES
        </h3>
        <ol type="1" >
            <li><p>We win together</p></li>
            <li><p>We reflect, plan and act</p></li>
            <li><p>We keep learning and improving</p></li>
            <li><p>We serve our customers throughout their journey</p></li>
            <li><p>Enhance skills and improve knowledge base</p></li>
            <li><p>Compete with self for creativity and innovation</p></li>
            <li><p>Exceed expectations in providing high–quality solutions</p></li>
            <li><p>Act as partner for customers</p></li>
        </ol>
    </div>
</div>